.plr-1 {
  padding: 0 1em;
}

.ptb-1 {
  padding: 1rem 0;
}

.mtb-2 {
  margin: 2rem 0;
}

.mt-1 {
  margin-top: 1rem;
}
.mt-3 {
  margin-top: 3rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-1 {
  margin-bottom: 0.8rem;
}

.pb-0 {
  padding-bottom: 0rem !important;
}

.text-center {
  text-align: center;
}
