$mainBlack: #000;
$mainWhite: #fff;
$mainRed: #ff3333;
$dogerBlue: #18a0fb;
$danube: #568fd0;
$pureCyan: #00aee2;
$darkBlue: #222326;
$darkerBlue: #212529;
$ligthgray1: #ccc;
$twitterColor: #1da1f2;
$facebookColor: #4267b2;
$whatsappColor: #075e54;
$linkedinColor: #0e76a8;

$bckgrd1: linear-gradient(90deg, $dogerBlue, $pureCyan);
$bckgrd: linear-gradient(to top, #2193b0, #6dd5ed);
