.wrapper {
  padding: 0 1rem;
  margin: 0 auto;
  width: 100%;
  // overflow: hidden;

  // border: 1px solid red;

  @include phone-sm {
    max-width: 320px;
  }

  @include phone-land {
    max-width: 540px;
  }

  @include tab-port {
    max-width: 720px;
  }

  @include tab-land {
    max-width: 960px;
  }

  @include desktop {
    max-width: 1140px;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  // margin: 0 0.5rem;
}

.col,
.col-md-6,
.col-lg-6 {
  position: relative;
  width: 100%;
  padding: 0 0.9rem;
  // border: 1px solid red;
}

@include tab-port {
  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@include tab-land {
  .col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
