.form {
  // border: 1px dotted $linkedinColor;
  padding: 1.5rem;
  background-color: $mainWhite;
  width: 100%;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.8);

  // box-shadow: 0 10px 10px -3px;

  &__row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -5px;
    margin-left: -5px;

    & > [class*="col"] {
      padding-left: 5px;
      padding-right: 5px;
    }
  }

  &__group {
    margin-bottom: 0.8rem;
    padding-bottom: 0.2rem;
  }

  &__control {
    display: block;
    width: 100%;
    padding: 0.4rem 0.6rem;
    font-weight: 400;
    line-height: 1.5;
    border-radius: 5px;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    outline: none;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
      -webkit-box-shadow 0.15s ease-in-;

    &:focus {
      background-color: #fff;
      border-color: #0366d6;
      -webkit-box-shadow: 0 0 0 2px rgba(3, 102, 214, 0.3);
      box-shadow: 0 0 0 2px rgba(3, 102, 214, 0.3);
      outline: none;
    }

    &::placeholder {
      opacity: 0.3;
    }
  }

  &__textarea {
    min-height: 10rem;
    height: auto;
    overflow: auto;
    resize: vertical;

    @include tab-land {
      min-height: 13rem;
    }
  }

  &__required {
    color: $mainRed;
    font-weight: 600;
    padding-left: 5px;
    position: relative;
    top: 2px;
    display: inline-block;
  }
}

.hireme {
  &--icons {
  }
  &__msg {
    // border: 1px solid cyan;

    &--icons {
      // background-color: $pureCyan;
      margin-top: 2rem;
      display: flex;
      justify-content: space-between;
      border-radius: 4px;
      background-color: $mainWhite;
      box-shadow: 0 5px 20px -5px;
      // box-shadow: 0 0 2px 0 rgba($pureCyan, 0.3);

      @include tab-port {
        margin-top: 5rem;
        justify-content: space-around;
      }

      & svg {
        fill: $mainBlack;
      }
    }
  }
}
